<h1>{{{prompt_html}}}</h1>

<p>{{explanation}}</p>

<ul>
  {{#each players_with_scores}}
    <li>{{name}}: {{score}}</li>
  {{/each}}
</ul>

{{#if has_next_question}}
  <p>Next question in {{countdown}} second{{s}}…</p>
{{/if}}
