<h1>Welcome!</h1>

<ol>
  <li>Visit {{origin}} on your device.</li>
  <li>Enter room name: <strong>{{room_name}}</strong>.</li>
  <li>When everyone’s joined, press Start Game on your device!</li>
</ol>

{{#if player_count}}
  <p>Players ({{player_count}}):</p>

  <ul>
    {{#each players}}
      <li>
        {{#if name}}{{name}}{{else}}(Player is entering name){{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}
